html,
body {
    overflow-x: hidden;
    /* Prevent scroll on narrow devices */
}

.text-white-50 {
    color: rgba(255, 255, 255, .5);
}

.bg-purple {
    background-color: var(--purple);
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

#password-btn {
    color: #fff; 
    background: purple; 
    border-radius: 6px; 
    padding: 5px; 
    font-size: 12px; 
    display: block;
    margin: auto;
}

table {
    font-size: 15px;
}

#gotobtn {
    float: right;
    font-size: 13px;
    background: #6f42c1;
}

#gotobtn:hover {
    float: right;
    font-size: 12.5px;
    background: #6f42c1;

}

#editDeleteIcon:hover {
    font-size: 14px;
}